*{
	font-family: verdana
}

/*-- HEADER--*/
.gentl{
	margin:20px 100px;
}

.menu{
	text-decoration: none;
	display: inline-block;
	color: white;
	text-align: center;
	margin: 20px;
}

/*-- SECTION 1--*/
.bckg-cont{
	background-color: #333333;
}
.bckg-cont-white{
	background-color: white
}
.img-1{
	width: 95%;
	margin:30px 0px 10px 20px;
}

.text-espacio{
	margin: 10px 0px;
}
.justific{
	text-align: justify;
}
.margen-botom{
	margin: 25px 0px 90px 0px;
}
.margen-top{
	margin-top: 50px
}
.titulo{
	font-size: 30px;
	margin-top: 30px;
}

.button {
	color:#fff;
	text-align:center;
	font-size: 15px;
	display:inline-block;
	border: none;
	border-radius: 22px;
	box-shadow:0px 3px 0px #373c3c;
	cursor:pointer;	
}
.button-read{
	background-color: #999999;
	margin-top: 15px;
	width:120px;
	padding:10px 15px
}
/*-- SECTION 2--*/

.cuadroimg1{
	margin:40px 10px ;
	width: 30px;
	height: 30px;
}
.cuadroimg2{
	margin: 45px 15px;
	width: 20px;
	height: 20px;
}
.cuadroimg3{
	margin:45px 15px;
	width: 20px;
	height: 20px;
}

.margen-caja{
	margin-left: 8px
}
.subt{
	font-size: 25px;
	margin-top: 35px;
}
.icon-img-disp{
	width: 15px;
	height: 15px;
	display: inline-block;
	float: left;
	margin-top: 16px;
	margin-right: 5px;
}
.num-peque{
	color: gray;
	font-size: 10px;
	margin-top: 18px;
	margin-right:70px;
}
.latest{
	color: black;
	text-decoration: none;
	display: inline-block;
	text-align:left;
	margin: 20px 30px 30px 0px;
}

.button-load{
	background-color:  #666666;
	margin: 50px;
	width:150px;
	padding:10px 15px
}
.twitter{
	width: 100%;
}
/*--seccion3--*/
hr{
	width: 1300px;
}
.follow-black{
	background-color:  #666666;
	color: white;
	width:80px;
	padding:4px 2px;
	margin: 0px 0px 50px 40px;
	border-radius:6px;
}

.columna10-text{
	margin: 60px 0px;
}
/*--FOOTER-*/

.margen-caja-foot{
	margin-left: 50px;
}

.background-gray{
	background-color: black;
}

.fondito{
	background-color: black;
}
.botonredes{
	width: 15%;
	margin-left:5px;
}
.gris{
	font-size: 20px;
	margin: 20px;
	color: #666666;

}
hr{
	margin: 50px;
}

.barra{
	text-decoration: none;
	display: inline-block;
	color: white;
	text-align: center;
	margin: 2px;
}

.number-pink{
	color: #ff0066;
}